<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Movie App</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap"></div>
      <header>
        <span id="logo" style="font-size: 50px;">&#128250;</span>
        <h1>MOVIE API</h1>
      </header>
    </div>
  </body>
</html>
