<%- include("partials/header") %>
<div class="search-container">
  <h2>Search for a movie</h2>

  <form action="/results" method="GET">
    <input type="text" placeholder="search term" name="search" />
    <input type="submit" value="Submit" />
  </form>
</div>
<%- include("partials/footer") %>
